@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
body {
    background-color: #fff;
    margin: 0;
    height: 100%;
    display: block;
}
h1 {
    margin: 0;
    font-family: 'Knewave', cursive;
    color: #555;
}
p {
    margin: 0;
}
.startseite-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.startseite-buttons a {
    display: block;
    background-color:#4481ab;
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius: 1.5em;
    margin: 1%;
    box-shadow: 1px 1px 1px 1px;
}
.startseite-buttons a:hover {
    transform: scale(125%);
}
/* Project 3 */
.linkliste {
    font-family: 'Times New Roman', Times, serif;
    color: #555;
}
.linkliste a {
    font-weight: bold;
    text-decoration: none;
    color: #4481ab;
}