body {
    background-color: #fff;
    font-family: 'Knewave', cursive;
    margin: 0;
}
h1 {
    margin: 0;
}
p {
    margin: 0;
}
.startseite-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.startseite-buttons a {
    display: block;
    height: 175px;  
    width: 175px;
    border: 5px solid transparent;
    border-radius: 1.5em;
    margin: 1.5%;
    box-shadow: 0px 2px 5px 1px black;
}
.startseite-buttons a:hover {
    transform: scale(125%);
    border: 5px solid black;
}
/* Project 1 */
.project1 {
    background-image: url(images/project1.jpg);
    background-size: cover;
    font-size: 1.2em;
    color: black;
    text-decoration: none;
    text-align: center
}
/* Project 3 */
.linkliste {
    font-family: 'Times New Roman', Times, serif;
    color: #555;
}
.linkliste a {
    font-weight: bold;
    text-decoration: none;
    color: #4481ab;
}